!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title #{(title ? title + " - " : "")}ryanrolds.com
    %meta(name="description" content="")
    %meta(name="viewport" content="width=device-width")
    %link(href="/style.css" rel="stylesheet" type="text/css")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
  %body
    #main
      -# #header
        %h3 Ryanrolds.com
      = content
      #footer
        %p Wheat running on node #{process.version}