
@width: 960px;

* {
  margin: 0;
  padding: 0;
}

.clear {
    clear: both;
}

body {
  font-size: 14px;
  line-height: 1.4em;
  font-family: 'Lucida Grande', sans-serif;
  color: #333;
}

#main {
  margin: 10px 5%;
}

#article {
  float: left;
  margin-right: 10px;
  width: 70%;
  max-width: @width - 250;
}

#side {
  float: left;
  max-width: 250px;
  padding: 0 10px 0 10px;
}

#footer {
    .clear;
}